@import "tailwindcss";
@import "../assets/fonts/paperozi.css";
@import "../assets/fonts/pretendard.css";

/* variable */
:root {
  --background: #ffffff;
  --foreground: #333;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #efefef;
  }
}

/* font */
@theme {
  --font-paperozi: "Paperozi", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;
}

/* common */
body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: var(--font-pretendard);
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  /* max-width: 100%; */
  /* height: auto; */
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

/* animations */
@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
    margin-left: 0;
  }
  to {
    width: 100%;
    opacity: 1;
    margin-left: 16px;
  }
}

@keyframes slideOut {
  from {
    width: 100%;
    opacity: 1;
    margin-left: 16px;
  }
  to {
    width: 0;
    opacity: 0;
    margin-left: 0;
  }
}

.animate-open {
  animation: slideIn 0.4s ease-out forwards;
}

.animate-close {
  animation: slideOut 0.4s ease-in forwards;
}
