@import "tailwindcss";
@import "../assets/fonts/paperozi.css";
@import "../assets/fonts/pretendard.css";

/* variable */
:root {
  --background: #ffffff;
  --foreground: #333;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #efefef;
  }
}

/* font */
@theme {
  --font-paperozi: "Paperozi", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;
}

/* common */
body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: var(--font-pretendard);
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  outline: none;
}
